@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: linear-gradient(45deg, ivory, lightslategrey, ivory);
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3 {
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 2%;
  }
}

.section-description {
  width: 90%;
  margin: 3% auto;
}

.nav-links {
  margin: 3% auto;

  a {
    position: relative;
    text-decoration: none;
    color: whitesmoke;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      left: 50%;
      bottom: -6px;
      background: whitesmoke;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

#projects,
#build-week {
  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.project-card {
  margin: 5%;
  padding: 5%;
  box-shadow: 6px 6px 18px #292929;
  background: ivory;

  @media screen and (min-width: 800px) {
    width: 30%;
    margin: 0;
    padding: 1%;
  }

  pre {
    margin: 1% auto 3%;
    font-size: 1.6rem;
    text-align: center;
  }

  .img-container {
    display: flex;
    justify-content: center;

    img {
      border: 2px solid #292929;
      max-height: 200px;
    }
  }

  p {
    width: 90%;
    margin: 2% auto;
  }

  a {
    display: inline-block;
    width: 35%;
    margin: 7% 7% 0;
    border: 2px solid darkslategrey;
    border-radius: 7px;
    padding: 1%;
    background: darkslategrey;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background: whitesmoke;
      color: darkslategrey;
    }
  }
}

#skills {
  li {
    display: inline-block;
    margin: 2%;
    border-radius: 7px;
    padding: 2% 3%;
    text-align: center;

    &:nth-child(odd) {
      background: darkslategrey;
      color: whitesmoke;
    }

    &:nth-child(even) {
      background: wheat;
      color: black;
    }
  }
}

section {
  margin: 5% auto 15%;
}

#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  form {
    width: 79%;
    border: 1px solid #292929;
    padding: 10%;
    background: ivory;

    label,
    input,
    textarea,
    button {
      display: block;
      width: 100%;
    }

    input,
    textarea {
      margin: 5% 0;
    }

    input {
      height: 2rem;
    }

    button {
      margin: 10% auto 0;
      border: 2px solid darkslategrey;
      border-radius: 7px;
      padding: 5%;
      background: darkslategrey;
      color: whitesmoke;
      font-size: 1.2rem;
      transition: all 0.3s ease;

      &:hover {
        background: whitesmoke;
        color: darkslategrey;
        cursor: pointer;
      }
    }
  }
}

header,
footer {
  background: linear-gradient(45deg, lightslategrey, darkslategrey);
  color: whitesmoke;
}

footer {
  padding: 5%;
  text-align: center;
}
